/src-tauri/resources/node/
/src-tauri/resources/dsh/
/src-tauri/resources/plugin/
/src-tauri/resources/python/
/src-tauri/target/
/src-tauri/target-v0*/
/src-tauri/gen/
/dist/
/node_modules/
/.build/
*.log
